{% extends "web/base.html" %}
{% block "head" %}
<style>
    form {
        display: block;
        text-align: center;
    }
    input {
        margin: 2px auto;
        width: 400px;
        max-width: 90%;
        height: 42px;
        padding-left: 10px;
        box-sizing: border-box;
        font-size: 20px;
        border-radius: 5px;
        border: 0px;
        background-color: #d4dcff;
        letter-spacing: 2px;
    }
    input::placeholder {
        color: rgb(88, 88, 88);
    }
    input:focus {
        outline: 0px;
        background-color: #e9e9f9;
        box-shadow: 0px 0px 6px 1px #5a5aeb;
    }
    input[type="submit"] {
        margin: 20px auto;
        background-color: #3f3fde;
        color: white;
        cursor: pointer;
    }
    input[type="submit"]:active {
        background-color: #0b00ff;
    }
    form {
        max-width: 90%;
        width: 600px;
        margin: 0 auto;
        background-color: #ffffff54;
        padding: 3px;
        border-radius: 5px;
        margin-top: 50px;
    }
    p {
        font-size: 45px;
        margin: 20px auto;
    }
    .messages {
        color: #530000;
    }
</style>
{% endblock %}
{% block "content" %}
{% if messages %}
{% endif %}
<form action="" method="POST">
    {% csrf_token %}
    <p>JARVIS</p>
    <div class="messages">
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
    </div>
    <input type="text" name="username" placeholder="Username" autofocus />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="LOGIN" />
</form>

{% endblock %}
